//settings
$font-main-family: "Roboto", sans-serif;
$font-secondary: "DM Sans", sans-serif;
$jost: "Jost", sans-serif;
$fontIcon: "flaticon";

:root {

	--White: #fff;
	--Text: #3D3E3F;
	--Primary: #8bd457;
	--Secondary: #1A1A1A;
	--Third: #54a01e;
	--Fourth: #48573f;
	--Border: #EBEBEB;
	--roboto: $font-main-family;
	--dm: $font-secondary;
	--jost: $jost;

}